$TTL	604800
@	IN	SOA	devhunt.it. elvin.devhunt.it. (
			      2		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;

         	IN	NS	it.
        	IN	A	{{ vm2_ip }}
        	IN	A	{{ vm1_ip }}
ns      	IN	CNAME	devhunt.it