#!/bin/bash

curl -L -o /home/backup/backup/ansible --header 'Authorization: token {{ github_token }}' --header "Accept: application/vnd.github.v3+json" https://api.github.com/repos/Elvinius/ica0002/tarball/master &> /dev/null