key "dns_transfer" {
	algorithm hmac-sha256;
	secret "zdZkgv7YT9GctIBlSUBekm9mDzb4bhCLYttfoQTonfA=";
};

key "dns_update" {
	algorithm hmac-sha256;
	secret "L0LQUxsMEgTj0i9ZPr/4zSSNhTOXNmyI4wV5kjx1DSI=";
};

options {
	directory "/var/cache/bind";
	forwarders {
      {% for f in dns_forwarders %}
	    {{ f }};
      {% endfor %}
	};
    allow-query {127.0.0.1; 192.168.42.0/24;};
	dnssec-validation no;
	auth-nxdomain no;    # conform to RFC1035
};

statistics-channels {
  inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};